//
// Images
// --------------------------------------------------

.img-background-home{
    background-image: url('../../img/assets/home-intro.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
}

.img-header-logo{
	width: 50%;

	@media (min-width: @screen-md){
	width: 20%;
	}    
}

.img-icon{	width: 10vw;}
